.banniere {
    width: 100%;
    height: 250px;  
    background-position: center 60%;
    background-size: cover;
    &__1 {
        background-image: url(../images/restaurants/la-palette-du-gout.jpg);
    }
    &__2 {
        background-image: url(../images/restaurants/le-delice-des-sens.jpg);
    }
    &__3 {
        background-image: url(../images/restaurants/la-note-enchantee.jpg);
    }
    &__4 {
        background-image: url(../images/restaurants/a-la-francaise.jpg);
    }
    @media only screen and (min-width: 783px) {
        height: 500px;
        &__2 {
            background-position: center 62%;
        }
    }
}