footer {
    position: relative;
    /*top: 800px; en attente ********************************************/
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
    .infos {
        background: $grey;
        color: white;
        padding: 16px 32px;
        letter-spacing: 1px;
        line-height: 30px;
        h4 {
        margin-bottom: 0;           
        font-size: 18px;
        }
        ul {
        padding: 0;
        list-style-type: none;
        width: 100%; /******* Mettre 20% pour le responsive ********/
        & li {
            
        }
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }

    }
        .fa-utensils {
            padding-right: 12px;
        }
        .fa-hands-helping {
            padding-right: 10px;
            font-size: 12px;
            rotate: -10deg;
        }
    }
    @media only screen and (min-width: 783px) {
        top: 0;
    }
}