header {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
    z-index: 1;
    position: relative;
    box-shadow: 0 3px 10px 1px rgb(185, 185, 185);
    & img { /* Centrage du logo */
    display: block;
    margin: 16px auto;
    width: 150px;
    }
    & .header__logo {
        @include centrage;
    }
    & span {
        padding-left: 29px;
        font-weight: normal;
    }
}