.search {
    text-align: center;
    font-size: 16px;
    &__txt {
    @include centrage;
    justify-content: center;
    background-color: $mediumgrey;
    box-sizing: border-box;
    padding: 16px;
    }
    &__txt span {
        text-align: center;
        color: rgb(78, 78, 78);
    }
    &__txt input {
        margin-left: 2px;
        padding: 5px 14px 0 0;
        width: 40%;
        background-color: $mediumgrey;
        text-align: center;
        vertical-align: middle;
        font-weight: 800;
        border: none;
    }
    & ::placeholder {
        color: rgb(78, 78, 78);
        opacity: 1;
    }
    &__txt--presentation {
        background-color: $lightgrey;
        padding: 16px 16px 38px;
        & button {
        @include btn;
        &:hover {
        cursor: pointer;
        background: $gradientLight;
        box-shadow: $shadowDarken;
        }
        & a {
            text-decoration: none;
            color: white;
        }
        }
    }
}

.help {
    padding: 12px;
    margin-bottom: 44px;
    &__cards {
        @include centrage;
        flex-wrap: wrap;
        &--number {
            padding: 3px 6px;
            border-radius: 60%;
            color: white;
            background-color: $colorPrimary;
            position: absolute;
            z-index: 1;
        }
        &--icon1 {
            margin: 0 4px;    
        }
        &--icon2 {
            margin: 0 2px;    
        }
        &--bg {
        @include centrage;
        position: relative;
        width: 100%;
        gap: 10%;
        font-size: 14px;
        text-align: center;
        background-color: $lightgrey;
        border-radius: 20px;
        padding: 8px 29px;
        margin: 8px;
        box-shadow: $shadow;
        }
        &--bg:hover {
            background: #DBB8D5; 
            cursor: pointer;
            span {
            color: $colorPrimary;
            }   
        }
    }
}

.restos {
    background: $lightgrey;
    padding: 25px 25px 76px;
    box-sizing: border-box;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    h2 {
        margin: 27px 0 0;
    }
    &__cards {
        box-shadow: 0 5px 18px #d8d7d7;	
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        &--img1 { 
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            & span {
                @include new;    
            }
        }
        &--img2 {
            @include card;
            background-position: center 62%;
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            & span {
                @include new;
            }
        }
        &--img3 {
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }
        &--img4 {
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }        
    a {
        text-decoration: none;
        }
    &--content {
        background: white;
        border-radius: 0 0 25px 25px;
        color: black;
        @include centrage;
        justify-content: space-between;
        padding: 13px;
        line-height: normal;
        h3, p {
            margin: 0 0 3px;
        }
        span, i {
            font-size: 25px;
        }
        span { 
            position: absolute;
            background-color: white;
        }
        
        span:hover {
            opacity: 0;
            color: white;
            transition: all 0.3s linear;
        }
        i {
            position: relative;
            background: linear-gradient($colorPrimary, $colorSecondary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    &--hearts {
        display: flex;
        }
    }
}