.page {
    background-color: white;
    /*animation: apparition 0.3s 3000ms;*/
}
.search {
    text-align: center;
    font-size: 16px;
    max-width: 1400px;
    margin: auto;
    &__txt {
    @include centrage;
    justify-content: center;
    text-align: center;
    background-color: $mediumgrey;
    box-sizing: border-box;
    padding: 16px;
    }
    &__txt span {
    
        margin-left: 60px;
        color: rgb(78, 78, 78);
    }
    &__txt input {
        margin-left: 2px;
        padding: 5px 14px 0 20px;
        background-color: $mediumgrey;
        font-weight: 800;
        border: none;
    }
    & ::placeholder {
        color: rgb(78, 78, 78);
        opacity: 1;
    }
    &__txt--presentation {
        background-color: $lightgrey;
        padding: 16px 16px 38px;
        &-button {
        @include btn;
        margin-left: auto;
        margin-right: auto;
        &:hover {
        cursor: pointer;
        background: $gradientLight;
        box-shadow: $shadowDarken;
        }
        }
        & a {
            text-decoration: none;
            color: white;
        }
    }
}

.help {
    padding: 12px;
    margin: auto;
    max-width: 1400px;
    @media only screen and (min-width: 783px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            & h2 {
                grid-column: 1 / span 3;
            }
        }
    &__cards {
        @include centrage;
        flex-wrap: wrap;
        &--number {
            padding: 3px 6px;
            border-radius: 60%;
            color: white;
            background-color: $colorPrimary;
            position: absolute;
            z-index: 1;
        }
        &--icon1 {
            margin: 0 4px;    
        }
        &--icon2 {
            margin: 0 2px;    
        }
        &--bg {
        @include centrage;
        position: relative;
        width: 100%;
        gap: 10%;
        font-size: 14px;
        text-align: center;
        background-color: $lightgrey;
        border-radius: 20px;
        padding: 8px 29px;
        margin: 8px;
        box-shadow: $shadow;
        }
        &--bg:hover {
            cursor: pointer;
            span {
            color: $colorPrimary;
            }   
        }
    }
}

.restos {
    background: $lightgrey;
    padding: 25px 25px 76px;
    box-sizing: border-box;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    @media only screen and (min-width: 783px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        & h2 {
            grid-column: 1 / span 2;
        }
    }
    h2 {
        margin: 27px 0 0;
    }
    &__cards {
        box-shadow: 0 5px 18px #d8d7d7;	
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        background-size: cover;
        &--img1 { 
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/la-palette-du-gout.jpg);
            @media only screen and (min-width: 540px) {
                background-position: center 60%;
            }        
            & span {
                @include new;    
            }            
        }
        &--img2 {
            @include card;
            background-position: center 62%;
            background-image: url(../images/restaurants/la-note-enchantee.jpg);
            & span {
                @include new;
            }
        }
        &--img3 {
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/a-la-francaise.jpg);
            @media only screen and (min-width: 540px) {
                background-position: center 60%;
            }
            @media only screen and (min-width: 1024px) {
                background-position: center 70%;
            }
            }
        &--img4 {
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/le-delice-des-sens.jpg);
            @media only screen and (min-width: 540px) {
                background-position: center 60%;
            }
            }        
    a {
        text-decoration: none;
        }
    &--content {
        background: white;
        border-radius: 0 0 25px 25px;
        color: black;
        @include centrage;
        justify-content: space-between;
        padding: 13px;
        line-height: normal;
        h3, p {
            margin: 0 0 3px;
        }
        span, i {
            font-size: 25px;
        }
        span { 
            position: absolute;
            background-color: white;
        }
        
        span:hover {
            opacity: 0;
            color: white;
            transition: all 0.3s linear;
        }
        i {
            position: relative;
            background: linear-gradient($colorPrimary, $colorSecondary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    &--hearts {
        display: flex;
        }
    }
}