@mixin centrage {
    display: flex;
    align-items: center;
}
@mixin btn {
    width: 188px;
    padding: 14px;
    margin: 14px;
    border: 0;
    box-shadow: $shadow;
    border-radius: 25px;
    color: white;
    background: $gradient;
}

@mixin card {
    border-radius: 25px 25px 0 0;   
    background-size: cover;
    overflow: hidden;
    padding-bottom: 134px;
}

@mixin new {
    background-color: rgba(0, 255, 179, 0.979);
    color: green;
    font-size: 12px;
    padding: 5px;
    border-radius: 5%;
    position: absolute;
    right: 5%;
    top: 5%;
}

@mixin centrageH {
    margin-left: auto;
    margin-right: auto;
}
