$titleFont : 'Shrikhand', sans serif;
$txtFont : 'Roboto', sans serif;
$colorPrimary : #9356DC;
$colorSecondary : #FF79DA;
$colorTertiary : #99E2D0;
$lightgrey : #f5f5f5;
$mediumgrey :  #EAE8E8;
$grey : #2C2B2C;
$shadow : 0 7px 1px $mediumgrey;
$shadowDarken : 0 7px 1px #c9c8c8;
$gradient: linear-gradient($colorSecondary, $colorPrimary);
$gradientLight: linear-gradient(#fca5e3, #b598da);