@keyframes anim {
    0% {
        opacity:0;
        transform: translateY(30%); 
    }
    100% {
        opacity:1;
        transform: translateY(0); 
    }
}

@for $i from 1 through 50 {
    .menu__cards--#{$i} {
        animation: anim ($i * 500ms) linear 0.1s forwards ;
    }
}

@keyframes fill {
	from {
		top: 150px;
		transform: translate(-50%) rotate(0deg);
	}
	to {
		top: 100px;
		transform: translateX(-50%) rotate(360deg);
	}
}

@keyframes loading {
    0% {
        opacity: 1;
        z-index: 1000;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}