body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans serif;
}

.box {
	width: 200px;
	height: 200px;
	border: 10px solid #ccc;
	border-radius: 10px;
	line-height: 200px;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}

.box:before {
	content: "";
	position: absolute;
	width: 400px;
	height: 400px;
	background: #00acee;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 40%;
	animation: fill 3s ease-in forwards;
	z-index: -1;
}

@keyframes fill {
	from {
		top: 150px;
		transform: translate(-50%) rotate(0deg);
	}
	to {
		top: 100px;
		transform: translateX(-50%) rotate(360deg);
	}/*
	0% {
		background-position: 0 100px;
	}
	10% {
		background-position: 0 100px;
	}
	40% {
		background-position: 1000px -70px;
	}
	0% {
		background-position: 2000px -80px;
	}*/
}

/*********************** Code cat img ***********************/

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: sans-serif;
  background-color: #f4fcf8;
}













































