main {
	min-width: 320px;
	width: 100%;
    height: auto;
	margin: 0 auto; 
}

body {
	padding: 0;
	margin: 0;
    font-family: $txtFont;
}

h4, .title {
    font-family: $titleFont;
}

header {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
    /*box-shadow: 0px 5px 5px 3px blue;*/
    & img { /* Centrage du logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
    width: 150px;
    color: white;/* A enlever */
    }
    & .header__logo {
        @include centrage;
    }
    & span {
        padding-left: 8%;
        font-weight: normal;
    }
}

.search {
    text-align: center;
    font-size: 16px;
    &__txt {
    @include centrage;
    justify-content: center;
    background-color: $mediumgrey;
    box-sizing: border-box;
    }
    &__txt p {
    padding-left: 5%;
    }
    &__txt--presentation {
        background-color: $lightgrey;
        padding: 5% 5% 12%;
        & button {
        @include btn;
        &:hover {
        cursor: pointer;
        }
        }
    }
}

.help {
    padding: 4%;
    margin-bottom: 14%;
    &__cards {
        @include centrage;
        flex-wrap: wrap;
        &--number {
            padding: 1% 2%;
            border-radius: 60%;
            color: white;
            background-color: $colorPrimary;
            position: absolute;
            z-index: 1;
        }
        &--icon1 {
            margin: 0 2%;    
        }
        &--icon2 {
            margin: 0 1%;    
        }
        &--bg {
        @include centrage;
        position: relative;
        width: 100%;
        gap: 10%;
        font-size: 14px;
        text-align: center;
        background-color: $lightgrey;
        border-radius: 20px;
        padding: 3% 10%;
        margin: 3% 3%;
        box-shadow: $shadow;
        }
        &--bg:hover {
            background: #DBB8D5; 
            cursor: pointer;
            span {
            color: $colorPrimary;
            }   
        }
    }
}

.restos {
    background: $lightgrey;
    padding: 8% 8% 24%;
    box-sizing: border-box;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    h2 {
        margin: 10% 0 0;
    }
    &__cards {
        box-shadow: 0 5px 18px #d8d7d7;	
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        &--img1 { 
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            & span {
                @include new;    
            }
        }
        &--img2 {
            @include card;
            background-position: center 62%;
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            & span {
                @include new;
            }
        }
        &--img3 {
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }
        &--img4 {
            @include card;
            background-position: center bottom;
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }        
    a {
        text-decoration: none;
        }
    &--content {
        background: white;
        border-radius: 0 0 25px 25px;
        color: black;
        @include centrage;
        justify-content: space-between;
        padding: 5%;
        line-height: normal;
        h3, p {
            margin: 0 0 2% 0;
        }
        span, i {
            font-size: 25px;
        }
        span { 
            position: absolute;
            background-color: white;
        }
        
        span:hover {
            opacity: 0;
            color: white;
            transition: all 1s linear;
        }
        i {
            position: relative;
            background: linear-gradient($colorPrimary, $colorSecondary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    &--hearts {
        display: flex;
    }
    }
}
.img1 {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }

footer {
    position: relative;
    /*top: 800px; en attente ********************************************/
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
    .infos {
        background: $grey;
        color: white;
        padding: 5% 10%;
        letter-spacing: 1px;
        line-height: 30px;
        h4 {
        margin-bottom: 0;
        text-align: left;   
        font-size: 18px;
        }
        ul {
        padding: 0;
        list-style-type: none;
        text-align: left;
        a {
            text-decoration: none;
            color: white;
        }
        span {
            padding-right: 5%;
        }
        }
        .fa-utensils {
            padding: 0 5% 0 0;
        }
        .fa-hands-helping {
            padding: 0 4% 0 0;
            font-size: 12px;
            rotate: -10deg;
        }
    }
}

/*******************************************************************************************/
/***************************************Partie Menus****************************************/
/*******************************************************************************************/
.banniere {
    width: 100%;
    height: 250px;  
    background-position: center;
    background-size: cover;
    position: absolute;
    &__1 {
        background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
    &__2 {
        background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }
    &__3 {
        background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }
    &__4 {
        background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
}

.container {
    background: $lightgrey;
    border-radius: 30px 30px 0 0;
    padding: 15px 15px 25px 15px;
    position: relative;
    top: 203px; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 45px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    &__title {
        @include centrage;
        justify-content: space-between;
        font-size: 14px;
        span {
            font-size: 24px;
            padding: 0 7% 2% 0%;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: normal;
        padding-bottom: 2%;
        margin: 0;
        width: 13%;
        border-bottom: 3px solid $colorTertiary;
    }
    .entrees {
        opacity: 0;
        animation: anim 3s linear forwards 1s;
    }
    .plats {
        opacity: 0;
        animation: anim 3s linear forwards 5.5s;
    }
    .desserts {
        opacity: 0;
        animation: anim 3s linear forwards 9s;
    }
    &__cards {
        background: white;
        border-radius: 15px;
        padding: 2% 5%;
        box-shadow: $shadow; 
        /*display: flex;
        flex-wrap: wrap;
        justify-content: space-between;*/
        &--1 {
        opacity: 0;
        animation: anim 1s linear forwards 2s;
        }
        &--2 {
        opacity: 0;
        animation: anim 1s linear forwards 3s;
        }
        &--3 {
        opacity: 0;
        animation: anim 1s linear forwards 4s;
        }
        &--4 {
        opacity: 0;
        animation: anim 1s linear forwards 5s;
        }
        &--5 {
        opacity: 0;
        animation: anim 1s linear forwards 6.5s;
        }
        &--6 {
        opacity: 0;
        animation: anim 3s linear forwards 7.5s;
        }
        &--7 {
        opacity: 0;
        animation: anim 3s linear forwards 8.5s;
        }
        &--8 {
        opacity: 0;
        animation: anim 3s linear forwards 9.5s;
        }
        &--9 {
        opacity: 0;
        animation: anim 3s linear forwards 10.5s;
        }
        &--10 {
        opacity: 0;
        animation: anim 3s linear forwards 11.5s;
        }
        &:hover{
            i {
                display: inline;
                color: white;
                background: $colorTertiary;
                padding: 8% 8%;
                margin-bottom: 10%;
                border-radius: 0 15px 15px 0;
                vertical-align: middle;
                z-index: 1;
            }
        }
        h3 {
            margin: 0 0 2% 0;
            width: 190px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;   
            background: purple; 
        }
        span {
            z-index: 1;
        }
        i {
            width: 0;
            z-index: -1;
            display: none;
        }
    }
    &__price {
        @include centrage;
        justify-content: space-between;
        p { /**************************** Media querie 480px ***************************************/
            margin: 0 0 2% 0;   
            width: 150px;           
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;       
        }
        span {
            font-weight: bold;
        }
        
    }
}
.btn {
    position: relative;
    background-color: $lightgrey;
    text-align: center;
    padding-bottom: 40px;
    top: 1220px;
    button {
    @include btn;
    font-size: 20px;
    &:hover {
        opacity: 0;
    }
    }
}
@keyframes anim {
    0% {opacity:0;}
    100% {opacity:1;}
}