@mixin centrage {
    display: flex;
    align-items: center;
}
@mixin btn {
    width: 65%;
    padding: 5%;
    margin: 5%;
    border: 0;
    box-shadow: $shadow;
    border-radius: 25px;
    color: white;
    background: linear-gradient($colorSecondary, $colorPrimary);
}

@mixin card {
    border-radius: 25px 25px 0 0;   
    background-size: cover;
    overflow: hidden;
    padding-bottom: 50%;
}

@mixin new {
    background-color: rgba(0, 255, 179, 0.979);
    color: green;
    font-size: 12px;
    padding: 2%;
    border-radius: 5%;
    position: absolute;
    right: 5%;
    top: 5%;
    /*box-shadow: 0 5px 18px #d8d7d7;
    box-shadow: 0 0px 1px 0px; a voir plus tard */
}
